body {
  font-family: Consolas, monaco, monospace;;
  background-color: black;
}

p, a, label, select {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: white;
}

input, select {
  background-color:black;
  color:white;
}

.parent {
  padding: 5% 0;
  text-align: center;
}

.child {
  padding: 10% 0;
}

#padding {
  padding: 20px;
}



.homebrew {
  background-color:black;
  color: #00ff00;
  border-width:2px;
  border-color:#00ff00;
  height: 100px;
  width:300px;
  margin: 10px;
}

.homebrew-small {
  background-color:black;
  color: #00ff00;
  border-width:2px;
  border-color:#00ff00;
  font-size:12px;
  height:30px;
  width:100px;
  margin: 30px;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
