<div class = "terminal">
  #foreach($error in $errors)
    <li><a href="/admin/errors/$error.getId()">$error.getName()</a></li>
  #end

  <a href="admin/errors/new">Add Error</a><img src = "cursor.gif" class = "cursor">


  <div class = "bottom-left">
    <button type = "submit" class = "btn homebrew-small"><a href="/">HOME</a></button>
  </div>
</div>
