<div class = "terminal">
  #foreach($error in $errors)
    <li><a href="/admin/errors/$error.getId()">$error.getName()</a></li>
  #end

  <a href="admin/errors/new">Add Error</a><img src = "cursor.gif" class = "cursor">

  <button class ="btn homebrew-medium"><a href = "/">Home</a></button> 
</div>
