<div class = "container parent">
  <div class = "child">
    <button type = "submit" class="btn homebrew"><a href="/pre_error" class = "homebrew">Pre Testing</a></button>
    <button type = "submit" class="btn homebrew"><a href="/post_error" class = "homebrew">Post Testing</a></button>
  </div>
  <div class = "bottom-right">
    <button type = "submit" class="btn homebrew-small"><a href="/admin" class = "homebrew-small">Admin </a></button>
  </div>
</div>
