  <h1><strong>Post Testing Errors</strong></h1>
  #foreach($error in $errors)
    #if($error.getType() == "post")
      <ul>
        <li><a href="/post/errors/$error.getId()" method="post">$error.getName()</a></li>
      </ul>
    #end
  #end
