  <h1 id = "large"><strong>$error.getName()</strong></h1>
    #if($error.getSolutions())
      #foreach($solution in $error.getSolutions())
        <h3 class = "center">$solution.getName()</h3>
        <h4 class = "center">$solution.getDescription()</h4>
      #end
    #end
    <button class = "round-button center">Get a Solution</button>
